.marquee-wrapper{
  #background:#2F394C;
  text-align:center;
}
.marquee-wrapper .container{
  overflow:hidden;
}
.marquee-inner span{
  float:left;
  width:50%;
}
.marquee-wrapper .marquee-block{
  --total-marquee-items:10;
  height: 100%;
  width: calc(550px * (var(--total-marquee-items)));
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 20px auto;
  #background:#1B2531;
  padding: 30px 0;

}
.marquee-inner{
  display: block;
  width: 200%;
  position: absolute;
}
.marquee-inner textarea{
  font-weight: 800;
  font-size: 30px;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  width: 280px;
  height: 90px;
  margin-top: 90px;
  border: none;
  overflow: auto;
  outline: none;
}
.marquee-inner.to-left{
  animation: marqueeLeft 85s linear infinite;
}
.marquee-inner.to-left:hover{
  #animation-play-state: paused;
}
.marquee-item{
  width: 530px;
  height: 200px;
  display: inline-block;
  margin: 0 10px;
  float: left;
  transition: all .2s ease-out;
  #background:#00cc00;
	background-image: url(cloud.png);
	background-size:     contain;
	background-repeat:   no-repeat;
	background-position: center center;

}

.marquee-item textarea{
	background: transparent;
	text-align: center;
}

.marquee-wrapper {
	#margin-top: 200px;
	    top: 20%;
	position: relative;

}

body::after {
	background-image: url(sky.jpg);
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
	content: "";
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

html, body {margin: 0; height: 100%; overflow: hidden; direction: rtl;}



@keyframes marqueeLeft{
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}